body {
	background-color: #FFD78F;
	height: 100%;
	width: 100%;
	padding: 0;
}


nav {
	background-color: 	#7393FF;
	
}

ul {
	margin-top: 13px;
	
}
.list-inline{
	margin-left: 25px;
}
nav a {
	color: #fff;
	text-decoration: none;
	padding: 19px;

}

nav a:hover, nav a:active{
	background-color: #fff; 
	color: #7393FF;
	text-decoration: none;
	padding: 19px;

}

img {
	width: 100%;
	height: auto;
	margin-top: 35px;
	margin-bottom: 10px;

}

.container-fluid{
	padding: 0;
}

/*.title img{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;

}

.text  {
	position: absolute;
	top: 45%;
	left: 0;
	width:100%; 
}*/

.about, .service, .contact{
	padding: 0 20px;

}

.about h2 {
	margin-top: 50px;
	padding-top: 50px;
	margin-bottom: 10px;
}

.service, .contact h3{
	margin-top: 55px;
}
h3 {
	margin-top: 55px;
}
.contact form{
	margin-top: 40px;
	background-color: #588de0;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid black;

}

.forus{
	margin-top: 40px;
}
.contact label, button{
	margin-top: 10px;
}
.contact  button{
	margin-top: 18px;
}
footer{
	background-color: #7393FF;
	margin-top: 45px;
	margin-bottom: 0;
	height: 65px;
}
footer p{
	margin-top: 30px;
}


.left {
	margin-left: 18px;
}
.right{
	margin-right: 40px;
}

.foot{
	margin-bottom: 0;
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 4px -1px 12px rgba(152, 150, 150, 0.96);
}

.cont {
    position: relative;
    text-align: center;
    color: white;
}