html, body{
    background-color: #648efe;
   
}

h1 {
	color: #000 ;
	margin-top: 50px ;
}


 label{
	color: #000;
	margin-top: 25px;
	margin-bottom: 10px;
	/*font-family: 'Encode Sans Expanded', sans-serif;*/
}
button{
	background-color: red;
}