 body {
	margin: 0;
	padding: 0;
	background-image: url(../image/835886-widescreen-mountain-background-pictures-2560x1600-windows-7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.content h1 {
	margin-top: 16%;
	margin-bottom: 70px;
	text-align: center;
	color: #fff;
	font-size: 32px;
	 text-shadow: 2px 2px 4px #000000;
}

.content a{

	color: #fff;
	margin: 46%;
	text-decoration: none;
	background-color: #5d90ff;
	border-radius: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid #fff;
}
.content a:hover{

	color: #fff;
	margin-left: 46%;
	text-decoration: none;
} 
.content a:active{

	color: #fff;
	margin-left: 46%;
	text-decoration: none;
} 

.btn :activ {
	text-decoration: none;
	border: 1px white;
	background-color: red;
	border-radius: 18px;
	padding-left: 50px;


}



a, a:hover, a:active {
	padding: 20px 30px;
	text-decoration: none;
	color: white
}